<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
      h1 { color: red }
    </style>

  </head>
  <body>
    <h1>{{fName}} {{lName}} is Contacting you</h1>
    <p>Phone Number: {{number}}</p>
    <p>Contacter Email: {{email}}</p>
    <p>Message: {{description}}</p>
  </body>
</html>