<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
      h1 { color: red }
    </style>

  </head>
  <body>
    <h1>Order Ref{{refNum}}</h1>
    <p>Total Amount of {{totalAmount.raw}} + {{shippingfee}}</p>
    <p>Customer name: {{customerDetails.firstName}}</p>
    <p>Customer lastname: {{customerDetails.lastName}}</p>
    <p>Customer email: {{customerDetails.email}}</p>
    <p>Customer address:
      {{customerDetails.address}},
      {{customerDetails.suburb}},
      {{customerDetails.city}},
      {{customerDetails.zip}}</p>

    {{#each products}}
      <h2>product</h2>
      <p>{{this.name}}</p>
      <p>{{this.quantity}}</p>
      <p>{{this.price.formatted_with_symbol}}</p>
      <img src={{this.image.url}} />
    {{/each}}
  </body>
</html>